.body{
    margin:0;
    padding:0;
    background-color: #212529;
}
.mail{
    display:flex;
    justify-content: center;
    background-color: #212529;
}
.emaild{
    display: flex;
    justify-content: center;
}
.email{
    width:35%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    outline:0;
    margin-top: 5%;
    background-color: #212529;
    color:white;
}
.subjectd{
    display: flex;
    justify-content: center;
}
.subject{
    width:35%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    outline:0;
    margin-top: 5%;
    background-color: #212529;
    color:white;
}
.textd{
    display: flex;
    justify-content: center;
}

.text1{
    border-radius: 10px;
    min-width: 590px;
    min-height: 554px;
    margin-top: 5%;
    outline:none;
}
.submitd{
    display: flex;
    justify-content: center;
}

.sub{
    background-color:white;
    color:#212529;
    margin-top:3%;
    border-radius:30px;
    width:115px;
    height:30px;
}
.sub:hover{

    background-color: #212529;
    color:white;
}

